@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body {
    background-color: #151515;
    min-height: 2000px;
    overflow-x: hidden;
}

header {
    background-color: #151515;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #ADADAD 0px 2px 40px;
}

header > img#escudo {
    display: block ;
    width: 90px;
    margin: auto 1%;
    transform: translate(0px, 20px);
}

img#escudo:hover{
    cursor: pointer;
}

header > img.outrosheader {
    transition: opacity .5s ease-out, transform 1s ease-out;
    transform: translateY(20px);
    margin: auto 10px;
    width: 60px;
    filter: grayscale(100%);
    opacity: 0;
}

header > img.show {
    opacity: 1;
    transform: translateY(0);
}

header > img.hide {
    opacity: 0;
    transform: translateY(50px);
}

img#defundo {
    width: 100vw;
    height: 100vh;
}